{% extends 'apistore/main.html' %}
{% block title %}My Orders{% endblock %}

{% block content %}
{% include 'apistore/status.html' %}
<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Transaction Id</th>
                    <th>Status</th>

                </tr>
                {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td> {{ item.product.category }} </td>
                    <td> order.date_created </td>
                    <td>{{ item.order.transaction_id }}</td>
                    <td>{{ item.order.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<script>

</script>

{% endblock %}