{% load static %}
<style>
    #hello-msg{
        font-size: 18px;
        color: slategray;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a style="font-size:25px;" class="navbar-brand" href="{% url 'e-commerce:home' %}">MY STORE</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-atomic="false"
            aria-label="Toogle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url  'e-commerce:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Products</a>
            </li>

            <li class="nav-item">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'e-commerce:my-orders' %}" class="nav-link">My Orders</a>
                </li>
                <div class="form-inline my-2 my-lg-0 right">
                    <a href="" class="nav-link">Hello {{ request.user }}</a>
                    <a href="{% url 'e-commerce:user-logout' %}" class="btn btn-warning" style="color:white">Logout</a>
                    <a class="" href="">
                        <img id="cart-icon" src="{% static 'images/shopping_cart_.png' %}">
                    </a>
                </div>


            {% else %}
                <div class="form-inline my-2 my-lg-0 right">
                    <a href="{% url 'e-commerce:user-login' %}" class="btn btn-warning" style="color:white">Login</a>
                    <a href="" class="btn btn-success" style="color:white">Register</a>
                    <a class="" href="">
                        <img id="cart-icon" src="{% static 'images/shopping_cart_.png' %}">
                    </a>
                </div>

            {% endif %}
        </li>
        </ul>
    </div>

</nav>