{% load static %}
<style>
    a{
        color:black
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-sm">
            <a href=""><img style="width:80px" src="{% static 'images/category/All.jpg' %}"><br>
            All Categories</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:80px" src="{% static 'images/category/Mobile.png' %}"><br>
            Mobile</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:85px" src="{% static 'images/category/Fashion.png' %}"><br>
            Fashion</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:105px" src="{% static 'images/category/Electronics.png' %}"><br>
            Electronics</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:105px" src="{% static 'images/category/Home.png' %}"><br>
            Home</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:105px" src="{% static 'images/category/Appliances.png' %}"><br>
            Appliances</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:105px;height:70px" src="{% static 'images/category/Sports.jpg' %}"><br>
            Sports</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:70px" src="{% static 'images/category/Books.png' %}"><br>
            Books</a>
        </div>

        <div class="col-sm">
            <a href=""><img style="width:90px; height:70px" src="{% static 'images/category/Furniture.png' %}"><br>
            Furniture</a>
        </div>

    </div>
</div>