{% extends 'main.html' %}
{% block title %}Store{% endblock %}
{% load static %}

{% block content %}
<br>
{% include 'categories.html' %}
<br>
<div class="row">
    {% for product in products %}

    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ product.imageurl }}">
            <hr>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="" class="btn btn-outline-secondary add-btn">Add to Cart</a>
                <a href="" class="btn btn-outline-success">View</a>
                <h4 style="display: inline-block;float:right">Rs {{ product.price|floatformat:2 }}</h4>

            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}